@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.imgSuperhero{
    width: 100%;
    border-radius: 10px;
    height: 300px;
}

.cardSuperhero{
    width: 100%;
    border-radius: 10px;
    height: 300px;
    background-color: #005E7C;
    text-align: center;
}

.divSuperhero{
    margin-bottom: 30px;
}

.cardSuperhero h3{
    font-family: 'Bangers', cursive;
    color: white;
}