
#superheros{
    padding-top: 30px;
    background-color: rgba(1, 64, 85, 0.4);
    margin-top: 30px;
    border-radius: 10px;
}

#results{
    color: white;
}

.noContent{
    margin-bottom: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    width: 100%;
}