@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.MuiTypography-noWrap{
    overflow: visible !important;
}

#navbar{
    background-color: #121212;
}

#btnLogin{
    color: white;
    font-weight: bold;
}

#btnLogin:hover{
    text-decoration: none !important;
    color: white;
}

#linkTitle{
    color: white;
}

#linkTitle:hover{
    text-decoration: none !important;
    color: white;
}

.linkNavbar:hover{
    text-decoration: none;
}

.linkNavbar{
    color: black !important;
}