#home{
    padding-top: 30px;
    background-color: rgba(1, 64, 85, 0.4);
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 90px;

    h1{
        color: white;
        font-family: 'Bangers', cursive;
        text-shadow: 3px 3px 3px black;
    }
    .teamWeek{
        color: white;
        font-family: 'Bangers', cursive;
        text-shadow: 3px 3px 3px black;
    }
}